<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @thumb.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @thumb.user %>
</p>

<%= link_to 'Edit', edit_thumb_path(@thumb) %> |
<%= link_to 'Back', thumbs_path %>
